<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_project_design_phase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Foodshades"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADProjectDesignphase">
       <!-- <activity
            android:name=".addAcard"
            android:exported="true" /> -->
        <!--
         <activity
            android:name=".add_details"
            android:exported="true" />
        -->
        <!--
           <activity
            android:name=".edit_card"
            android:exported="true" /> ?
        <!-
         <activity
            android:name=".create_review"
            android:exported="true" />
        -->
        <!--
         <activity
            android:name=".update_review"
            android:exported="true" />
        -->
        <!-- <activity -->
        <!-- android:name=".update_delete_review" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".customise_food" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".My_reviews" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".rate_food" -->
        <!-- android:exported="true" /> -->
        <!-- <activity -->
        <!-- android:name=".favorits_food" -->
        <!-- android:exported="true" /> &lt;!&ndash; <activity android:name=".Side_bar_viewed"></activity> &ndash;&gt; -->
        <!-- <activity android:name=".login_page_2" android:parentActivityName=".login_page"></activity> -->
        <!-- <activity android:name=".login_page"  android:parentActivityName=".login_page"/> -->
        <activity
            android:name=".edit_card"
            android:parentActivityName=".login_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>