<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mad_project_design_phase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADProjectDesignphase"
        tools:replace="android:label,android:theme">

        <activity android:name=".Working_Side">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".my_favorite_restaurants"/>
        <activity android:name=".update_review" />
        <activity android:name=".all_the_restaurants"/>
            <activity android:name=".notification"/>
        <activity android:name=".edit_cart"/>
        <activity android:name=".user_profile"/>
        <activity android:name=".view_orders"/>
        <activity android:name=".purchase_history"/>
        <activity android:name=".My_reviews"/>
        <activity android:name=".favorits_food"/>
        <activity android:name=".my_restaurant_review"/>

    </application>

</manifest>