<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mad_project_design_phase">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MADProjectDesignphase"
        tools:replace="android:label,android:theme">

        <activity android:name=".login_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".edit_card"/>
        <activity android:name=".rate_food"/>
        <activity android:name=".customise_food"/>
        <activity android:name=".show_calories"/>
        <activity android:name=".create_review"/>
        <activity android:name=".restaurant_ratings_review"/>
        <activity android:name=".addAcard"/>
        <activity android:name=".add_new_address"/>
        <activity android:name=".sign_up_page"/>
        <activity android:name=".login_page_2"/>
        <activity android:name=".newhomess"/>
        <activity android:name=".view_orders"/>
        <activity android:name=".purchase_history"/>
        <activity android:name=".notification"/>
        <activity android:name=".MainSearch"/>
        <activity android:name=".Restaurant"/>
        <activity android:name=".my_favorite_restaurants"/>
        <activity android:name=".update_review" />
        <activity android:name=".all_the_restaurants"/>
        <activity android:name=".edit_profile"/>
        <activity android:name=".edit_cart"/>
        <activity android:name=".user_profile"/>
        <activity android:name=".view_address"/>
        <activity android:name=".card_details"/>
        <activity android:name=".My_reviews"/>
        <activity android:name=".favorits_food"/>
        <activity android:name=".my_restaurant_review"/>
        <activity android:name=".checkout"/>
        <activity android:name=".update_delete_review"/>

    </application>

</manifest>